@import "_network-icons/facebook";
@import "_network-icons/twitter";
@import "_network-icons/google-plus";
@import "_network-icons/instagram";

.social {
	display: flex;
	flex-basis: 45%;

 	&__list {
 		display: flex;
 		align-items: center;
 		justify-content: space-evenly;
 		flex-basis: 100%;
 	}

	&__item {
		padding: 0 5px;
	}

	&__item-link {
		display:inline-block;
		background:{
			repeat: no-repeat;
			position: center;
			size: cover;
		}	
	}
}	 

@media only screen and (min-width: 768px) {
	.social {
		flex-basis: 20%;
	}		
}
