.models {
	display: flex;

	&__item {
		border-bottom: $blocks-border;
	}
}

@media only screen and (max-width: 768px) {
	.models {
		flex-flow: column nowrap;
	}
}

@media only screen and (min-width: 769px) {
	.models {
		flex-flow: row wrap;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
	.models {

		&__item {
			flex-basis: 50%;
			&:not(:nth-child(even)) {
				border-right: $blocks-border;
			}
		} 
	}
}

@media only screen and (min-width: 1200px) {
	.models {

		&__item {
			flex-basis: 25%;
			&:not(:last-child) {
				border-right: $blocks-border;
			}
		}
	}
}
