.top-section {
	position: relative;
 	background: {
 		image: url("../../img/top-section_bg.png");
 		repeat: no-repeat;
 		position: center;
 		size: cover;
 	}

 	&__title {
 		color: white;
		font-family: "Poppins";
		font-weight: 700;
		line-height: 60px;
		text-transform: uppercase;
 	}

 	&__text {
 		padding: 20px 0; 
 		color: white;
		font-size: 15px;
		font-weight: 700;
	    letter-spacing: 8px;
    	text-transform: uppercase;
 	}

 	&__item-wrapper {
		margin-top: 75px;
	}
} 

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.top-section {

		&__item-wrapper {
			margin-top: 120px;
		}
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.top-section {

		&__title {
			font-size: 150px;
    		line-height: 120px;
		}
	}
}

@media only screen and (min-width: 992px) {
	.top-section {

		&__title {
			font-size: 204px;
			line-height: 150px;
			letter-spacing: -13px;
		}

		&__text {
			font-size: 21px;
		}
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1449px) {
	.top-section {

		&__item-wrapper {
			margin-top: 160px;
		}
	}
}


@media only screen and (min-width: 1450px) {
	.top-section {
		min-height: 1020px;

		&__item-wrapper {
			display: flex;
		}
	}
}

@media only screen and (max-width: 1450px) {
	.top-section {
		padding-bottom: 150px;
	}	
}

@media (min-width: 1700px) {
	.top-section {

		&__item-wrapper {
			display: flex;
			margin-left: 100px;
		}
	}
}
