$offer-term-color: #616161;

.offer {
	
	&__term {
		color: $offer-term-color;
		font-family: "Poppins";
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__title {
		padding: 35px 0 50px;
		color: $blue-title-color;
		font-family: "Oswald";
		font-weight: 400;
		line-height: 44px;
		text-transform: uppercase;
	}

	&__text {
		color: $grey-text-color;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
	}

	&__price {
		padding: 55px 0;
	}

	&__timer {
		padding-bottom: 45px;
	}
}

@media only screen and (max-width: 1699px) {
	.offer {

		&__text {
			padding-bottom: 55px;
		}				
	}
}


@media only screen and (min-width: 1700px) {
	.offer {

		&__price {
			padding: 55px 0;			
		}
	}	

}
