$model-old-price-color: #818181;
$model-img-md-h: 225px;
$model-img-lg-h: 295px;
$model-img-xl-h: 170px;
$model-img-xxl-h: 246px;

.model {
	padding: 50px 10px;

	&__link {
		display: block;
	}
	
	&__name {
		padding-bottom: 15px;
		color: $blue-title-color;
		font-family: "Oswald";
		font-weight: 400;
		text-transform: uppercase;
	}

	&__price {
		font-weight: 600;
		
		&_new {
			padding-right: 10px;
			color: $blue-text-color;
			font-size: 15px;
		}

		&_old {
			color: $model-old-price-color;
			font-size: 12px;
			text-decoration: line-through;
		}
	}
	&__img {
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.model {

		&__img {
			height: $model-img-md-h;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.model {
		text-align: left;

		&__text {
			padding-left: 25px;
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.model {

		&__img {
			height: $model-img-lg-h;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.model {

		&__img {
			height: $model-img-xl-h;
		}
	}
}

@media (min-width: 1700px) {
	.model {
		text-align: left;

		&__text {
			padding-left: 25px;
		}

		&__name {
			padding-bottom: 15px;
		}

		&__img {
			height: $model-img-xxl-h;
		}
	}
}