$shipping-icon-color: #5b5b5b;

.shipping {
	display: flex;
	flex-flow: row wrap;

	&__item {
		padding: 80px 45px 60px;
		border-bottom: $blocks-border;		
	}

	&__icon {
		display: inline-block;
		color: $shipping-icon-color;
		font-size: 50px;
		line-height: 21px;
	}

	&__title {
		padding-top: 50px;
		color: $blue-title-color;
		font-family: "Oswald";
		font-weight: 500;
		text-transform: uppercase;
	}

	&__text {
		padding: 25px 0 30px;
		color: $grey-text-color;
		font-weight: 300;
		line-height: 24px;
	}

	&__link {
		display: inline-block;
		color: $link-color !important;
		font-weight: 600;
		line-height: 26px;
		&:first-letter {
			font-size: 135%;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.shipping__item {
		flex-basis: 50%;
		&:nth-child(odd) {
			border-right: $blocks-border;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.shipping__item {
		flex-basis: 25%;
		&:not(:last-child) {
			border-right: $blocks-border;
		}
	}
}
