@import "_icon-types/side-button__icon_sidebar";
@import "_icon-types/side-button__icon_basket";
@import "_icon-types/side-button__icon_search";

.side-button {
	display: inline-flex;
	justify-content: space-around;
	border: none;
	cursor: pointer;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	&__icon {
		display: inline-block;
	}

	&_burger_left {
		align-self: flex-start;		
	}
}

@media only screen and (min-width: 992px) {
	.side-button {
		align-items: center;
		align-self: unset;
		&:not(:last-child){
			border-right: 1px solid $header-borders-color;
		}

		&_burger_width {
			flex-basis: 4%;
		}

		&_right-btn_width{
			flex-basis: 50%;
		}
	}
} 
