@media only screen and (max-width: 1199px) {
	.gallery {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.gallery {
		display: flex;
		flex-flow: row wrap;

		&__item {
			min-height: 375px;
			flex-basis: 25%;
			background: {
				size: cover;
				repeat: no-repeat;
				position: center;
			}  
		}
	}
}
