.social__item-link_facebook {
	width: 15px;
	height: 27px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAbCAMAAACUTyX1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8/beDHAAAAHnRSTlMAEWWdtLuSZvHhdB/4gbdhVTzRDdLwRPUu/eyjQk5gjtZUAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAF9JREFUGNPVzTkSgCAQRNFRQXAf933uf0xh0CooI0N/1C9qAFcUJ0JKmd5UmrjMMSfyXZShKwotedcNYsvu2D08DZYaQo9uT4iYWc9m4AIr+Qmgj94C76+/P/hQppPnBXR3F8hIYOuYAAAAAElFTkSuQmCC");
}
