$slicknav-menu-bg: #212121;

.nav {
	display: none;
	margin: 0;

	&__item {
		color: white;
		font-weight: 600;
		text-transform: uppercase;
	}
}	

.slicknav {

	&_menu {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: inherit;
		padding: 0;
		width: 100%;
	}

	&_btn {
		align-self: center;
		color: $logo-color;
	    text-transform: uppercase;
	    font-family: "Poppins", sans-serif;
		font-size: 25px;
	    font-weight: 900;
	    margin: 0;
	    padding: 0;
	    background-color: inherit;
	}

	&_icon {
		display: none;
	}

	&_nav {
		background-color: $slicknav-menu-bg;
		border-radius: 10px;
		position: absolute;
		.nav__item {
			margin: 0;
			padding: 10px 15px;
			&:hover {
				background-color: #fff;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.slicknav {

		&_nav {
			top: 30px;
    		left: calc(50% - 58px);
		}
	}
}

@media only screen and (min-width: 769px) {
	.nav {
		display: none;
	}

	.slicknav {

		&_menu {
			justify-content: center;
		}

		&_nav {
    		top: 55px;
    		left: calc(50% - 135px);
    		min-width: 270px;
		}
	}	
}

@media only screen and (min-width: 992px) {
	.slicknav_menu {
		display: none;
	}

	.nav {
		display: inline-flex;
		flex-wrap: nowrap;
		flex-basis: 100%;
		align-items: center;
		justify-content: space-evenly; 

		&__item {
			padding: 0 5px;
		}
	}
} 

@media only screen and (min-width: 1200px) {
	.nav {
		flex-basis: 65%;	
	}
}
