.nav {
	display: block;
	flex-basis: 45%;
	&__list {
		display: none;
		margin: 0;
	}

	&__item-link {
		color: white;
		font-weight: 600;
		text-transform: uppercase;
	}
}	

.slicknav {

	&_menu {
		display: flex;
		flex-direction: column;
		background-color: inherit;
		padding: 0;
	}

	&_btn {
		align-self: center;
		color: $logo-color;
	    text-transform: uppercase;
	    font-family: "Poppins", sans-serif;
		font-size: 25px;
	    font-weight: 900;
	    margin: 0;
	    padding: 0;
	    background-color: inherit;
	}

	&_icon {
		display: none;
	}

	&_nav {
		background-color: $header-bg;
		border-radius: 10px;
		ul {
			margin: 0;
		}
		a {
			padding: 10px 15px;
			&:hover {
				background-color: #fff;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.nav {
		display: flex;
		flex-basis: 80%;
		justify-content: center;
    	align-items: center;
    	position: relative;
	}

	.slicknav {

		&_nav {
			position: absolute;
    		top: $header-height + 5px;
    		left: calc(50% - 135px);
    		background-color: rgb(33, 33, 33);
    		width: 270px;
		}
	}	
}

@media only screen and (min-width: 992px) {
	.slicknav_menu {
		display: none;
	}

	.nav {

		&__list {
	 		display: inline-flex;
			flex-basis: 100%;
			align-items: center;
			justify-content: space-evenly; 
		}

		&__item {
			padding: 0 5px;
		}
	}
} 

@media only screen and (min-width: 1200px) {
	.nav {
		justify-content: flex-start;

		&__list {
			flex-basis: 65%;
		}	
	}
}
