$shop-btn-color-blue: #3954d9;
$shop-btn-color-turquoise: #65cbff;

.shop-btn {
	display: inline-block;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	background-color: $shop-btn-color-blue;
	border-radius: 22px;

	&_big {
		padding: 15px 28px;
		font-size: 17px;

	}

	&_small {
		padding: 15px 23px;
		font-size: 13px;
	}

	&_maya_blue {
		background-color: #65cbff;
	}
}
