$logo-color: rgb(245, 245, 245);

.logo { 
	display: flex;
	justify-content: center;

	&__text {
		color: $logo-color;
		text-transform: uppercase;	
		font: {
			family: "Poppins", sans-serif;
			size: 33px;
			weight: 900;
		}
	}		
}

@media only screen and (min-width: 768px) {
	.logo {
		flex-basis: 10.5%;
		align-items: center;
		justify-content: center; 
	}
} 
