$main-font: "Montserrat", sans-serif;
$link-color: #3753da;
$white-color: #fff;
$grey-text-color: #8a8a8a;
$blue-text-color: #3753da;
$blue-title-color: #0d2e57;
$blocks-border: 1px solid rgba(0, 0, 0, .22);;
