.side-button__icon_sidebar {
	width: 30px;
	height: 21px;	
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAVBAMAAACj2UNSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEX///////////////////////////////////////////////////////////+g0jAFAAAADnRSTlMARlXSDhG23XCIYnfE7pmV7ZkAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAMElEQVQY02MQUkIBDHbvUABBvmsoCmCgFKSXowCC9nfORAEU2796NwogaP/ZuygAAMiTi0BC3rntAAAAAElFTkSuQmCC");	
}
