html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h1 {
	font-size: 75px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 43px;
}

h4 {
	font-size: 33px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	&:hover {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}
}

button {
	padding: 0;
	&:focus {
		outline: none;
	}
}

input {
	outline: none;
}

.hidden {
	display: none !important;
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 8%;
}

.nav-group {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.title-group {
	margin-top: 75px;
}

.main-wrap {
	background: {
		color: #fff;
	}
}

@media only screen and (min-width: 768px) {
	.btn-group {
		align-items: stretch;	
	}

	.first-line {
		flex-basis: 14.5%;
	}

	.nav-group {
		flex-basis: 77.5%;
		align-items: stretch;
	}

	.title-group {
		margin-top: 120px;
	}
}

@media only screen and (min-width: 1200px) {
	.title-group {
		margin-top: 160px;
	}
}

@media (min-width: 1700px) {
	.container {
    	max-width: 1600px;
	}

	.title-group {
		display: flex;
		margin-left: 100px;
	}	
}
