$header-height: 76px;
$header-bg: rgba(33, 33, 33, .75); 

.header {
	display: flex;
	flex-direction: column;
	min-height: $header-height;
	background-color: $header-bg;
	border-bottom: 1px solid rgba(255, 255, 255, .22);

	&__item {
		display: flex;

		&_logo {
			justify-content: center;
		}

		&-navs {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		&_nav {
			justify-content: center;
		}

		&-buttons {
			display: flex;
		}
	}
}

@media only screen and (max-width: 768px) {
	.header {

		&__item {
			padding: 10px;

			&_sidebar-btn {
				align-self: flex-start;
			}

			&_nav {
				flex-basis: 45%;	
			}

			&_social {
				flex-basis: 45%;
			}

			&-buttons {
			    justify-content: space-evenly;
			    align-items: center;			
			}
		}
	}	
}		

@media only screen and (min-width: 769px) {
	.header {
		flex-direction: row;
		align-items: stretch;

		&__item {
			&:not(:nth-child(3),:nth-child(4)) {
				align-items: center;
			}
			padding: 0 10px;
			border-right: 1px solid rgba(255, 255, 255, .22) !important;

			&_sidebar-btn {
				flex-basis: 4%;
    			justify-content: center;
			}

			&_logo {
				flex-basis: 10.5%;
			}

			&-navs {
				flex-basis: 77.5%;
				align-items: stretch;
			}

			&_nav {
				position: relative;
		    }

		    &-buttons {
		    	flex-basis: 8%;
			    align-items: stretch;			
			}

		    &_basket {
				flex-basis: 50%;
				justify-content: center;
		    }

		    &_search {
		    	flex-basis: 50%;
		    	justify-content: center;
		    }
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	.header {

		&__item {

			&_nav {
				flex-basis: 70%;
			}

			&_social {
				flex-basis: 30%;
			}
		}
	}

}

@media only screen and (min-width: 992px) {
	.header{

		&__item{

			&_nav {
				flex-basis: 80%;
			}

			&_social {
				flex-basis: 20%;
			}
		}	
	}
}


@media only screen and (min-width: 1200px) {
	.header__item_nav {
		justify-content: flex-start;
	}
}

